#page-map {
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;

}

#page-map aside {
  width: 440px;
  padding: 80px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Gradiente / Blue */
  background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
}

#page-map aside h2{
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 64px;
}

#page-map aside p{
  line-height: 28px;
  margin-top: 24px;
}


#page-map aside footer{
  display:flex;
  flex-direction: column;

  line-height: 24px;

}
#page-map aside footer strong{
  font-weight: 800;
}

#page-map .create-orphanage{
  width: 64px;
  height: 64px;
  background: #15C3D6;

  border-radius: 20px;
  transition-duration: .3s;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 40px;
  bottom: 40px;

  z-index: 1000;
}

#page-map .create-orphanage:hover{
  background: #17D6EB;
}
